* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v18-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v18-latin-700.woff2") format("woff2");
}

.container {
  width: 100%;
  max-width: 1210px;
  margin: auto;
}

.back-color {
  background-color: #f7f9ff;
  border-radius: 0 0 20px 20px;
  height: 244px;
  padding: 36px 50px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark-mode {
  display: none;
}

.button-dark-mode button {
  border: none;
  background-color: #f7f9ff;
}

button {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 255px;
  padding: 32px 64px 24px 64px;
  background-color: #f1f3fa;
  border-radius: 5px;
  border-top: 4px solid #178ff5;
}

a {
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-weight: 700;
  font-family: "Inter";
  font-size: 12px;
  line-height: 14.52px;
  color: #63687d;
}

.number {
  font-size: 56px;
  line-height: 48px;
  letter-spacing: -2px;
  font-weight: 700;
  font-family: "Inter";
  margin-top: 28px;
}

.follower {
  font-size: 12px;
  line-height: 14.52px;
  letter-spacing: 5px;
  color: #63687d;
  font-weight: 400;
  font-family: "Inter";
  margin-top: 9px;
}

.up {
  font-size: 12px;
  line-height: 14.52px;
  font-weight: 700;
  font-family: "Inter";
  color: #1eb589;
  column-gap: 4px;
  margin-top: 25px;
}

.down {
  color: #dc414c;
}

.active-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  position: relative;
  top: -110px;
}

.box-copy {
  border-top: 4px solid #c4032b;
}

.box-copy-1 {
  border-top: 4px solid rgb(234, 83, 8);
}
